<header class="header container">

    <!-- Home Logo -->
    <a href="/index">
      <div class="logo">
          <img src="/phazefive.png" width="75" height="75" alt="Phase Five Logo"/>
          <p>phasefive</p>
      </div>
    </a>

    <!-- Navbar Options -->
    <ul class="header__links">
      <li><a class="header__link" href="/about">about</a></li>
      <li><a class="header__link" href="/blog">blog</a></li>
      <li><a class="header__link" href="/socials">socials</a></li>

    <label class="switch">
      <input type="checkbox" id="theme-toggle">
      <span class="slider round"></span>
    </label>

    </ul>
</header>

