<header class="header">

    <!-- Logo Options -->
    <a href="/" style="text-decoration: none;">
      <div class="logo">
          <img class="logo__image" src="/phazefive.png" width="75" height="75" alt="Phase Five Logo"/>
          <p class="logo__text">phasefive</p>
      </div>
    </a>

    <!-- Navbar Options EDIT -->
    <nav class="menu">
      <ul class="header__links">
        <li><a class="header__link" href="/about">about</a></li>
        <li><a class="header__link" href="/blog">blog</a></li>
        <li><a class="header__link" href="/socials">socials</a></li>

        <!-- Darkmode Options -->
        <label class="switch">
          <input type="checkbox" id="theme-toggle">
          <span class="slider round"></span>
        </label>
      </ul>
    </nav>
</header>

