<header class="header container">
    <a href="/index">
      <div class="logo">
          <img src="/phazefive.png" width="75" height="75" alt="Phase Five Logo"/>
          <p>phasefive</p>
      </div>
    </a>
    <ul class="header__links">
      <li><a class="header__link" href="/about">about</a></li>
      <li><a class="header__link" href="/blog">blog</a></li>
      <li><a class="header__link" href="/socials">socials</a></li>
    </ul>
</header>