<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    (function() {
      const theme = localStorage.getItem('theme') || 'light';
      document.documentElement.setAttribute('data-theme', theme);
      document.body.classList.add('no-transition');
    })();
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Hugo The Immortal">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="{{'/css/style.css' | url | safe}}">
  <title>user@p5: ~/{{ title }}/</title>
</head>
<body>
  <div class="content">
    {% include "header.njk" %}
    <main class="main container">
      <h1>{{title}}</h1>
      <p>Posted on: {{date}}</p>
      {{ content | safe }}
    </main>
  </div>
  {% include "footer.njk" %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const themeToggle = document.getElementById('theme-toggle');
      const currentTheme = localStorage.getItem('theme') || 'light';

      // Initialize theme
      document.documentElement.setAttribute('data-theme', currentTheme);
      themeToggle.textContent = currentTheme === 'dark' ? 'Switch to Light Mode' : 'Switch to Dark Mode';

      themeToggle.addEventListener('click', function() {
        const newTheme = document.documentElement.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
        document.documentElement.setAttribute('data-theme', newTheme);
        localStorage.setItem('theme', newTheme);
        themeToggle.textContent = newTheme === 'dark' ? 'Switch to Light Mode' : 'Switch to Dark Mode';

        // Add no-transition class to prevent smooth transitions
        document.body.classList.add('no-transition');
        setTimeout(() => {
          document.body.classList.remove('no-transition');
        }, 0); // Set to 0 to immediately remove the class after applying
      });
    });
  </script>
</body>
</html>
