---
title: "about"
layout: "base.njk"
---
<h1>{{title}}.</h1>
<p>My name is Hugo and this is my personal website!</p>
<img src="/jackal.png" style="max-width: 30%; height: auto;"/>
<p>I’m an Electrical Engineering student who's trying to find his way in the world. I'm <i>enamored</i> by space exploration and climate science. I believe in the importance of trying to understand our universe better and it's my greatest dream to contribute in any way that helps us collectively do so.</p> 

<p>I built this place to document my personal thoughts and learning endeavours. There are various topics in engineering and science that I'm actively trying to learn (which can be a LOT for me to take in sometimes). Here are some fields I'm interested in exploring:</p>

<blockquote class="bq-orange">
    <ul style="font-weight: bold;">
        <li>Astrophysics & Astronomy</li>
        <li>Digtal Signal Processing</li>
        <li>Embedded Systems</li>
        <li>Optical Science & Engineering</li>
        <li>RF / Microwave Engineering</li>
    </ul>
</blockquote>

<p>I have other tricks up my sleeve aside from staring at computers and textbooks all day. Here are some more casual hobbies that I enjoy doing in my spare time:</p>

<blockquote class="bq-blue">
    <ul style="font-weight: bold;">
        <li>Antiquing</li>
        <li>Building LEGO&#174; Sets</li>
        <li>Drawing & Painting</li>
        <li>Electric Skateboarding</li>
        <li>Hiking / Traveling</li>
    </ul>
</blockquote>

<p>Take a look around to get a better idea of who I am and what I like to do. Also, feel free to reach out. I'm always open to meeting new people who I can talk about nerd stuff with :)</p>